/* Linkhaus colours */
:root{
  --linkhaus-ink:#16171A;
  --linkhaus-ink700:#212226;
  --linkhaus-grey500:#5B5D63;
  --linkhaus-grey100:#E2E3E0;
  --linkhaus-paper:#FFFFFF;
  --linkhaus-green800:#2D4422;
  --linkhaus-green600:#446732;
  --linkhaus-green400:#93BF7D;
  --linkhaus-green100:#E3EDDE;
}
